<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <!-- Container wrapper -->
    <div class="container">
        <!-- Navbar brand -->
        <a class="navbar-brand" routerLink="/restaurant"><img id="MDB-logo" src="https://www.kindpng.com/picc/m/403-4039624_food-icon-png-plate-knife-and-fork-icon.png" alt="MDB Logo" draggable="false" height="30" /></a>

        <!-- Toggle button -->
        <button class="navbar-toggler" type="button" data-mdb-toggle="collapse" data-mdb-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <i class="pi pi-bars"></i>
      </button>

        <!-- Collapsible wrapper -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <!-- Left links -->
            <ul class="navbar-nav me-3">
                <li class="nav-item">
                    <a class="nav-link active d-flex align-items-center" aria-current="page" routerLink="/restaurant"><i
                class="pi pi-home pe-2"></i>Home</a>
                </li>
            </ul>
            <!-- Left links -->

            <div class="d-flex align-items-center w-90" *ngIf="location === '/restaurant'">

                <app-search-input (onDebounce)="search($event)" (onEnter)="search($event)"></app-search-input>
                <a class="text-white" type="submit"><i class="pi pi-search ps-3"></i></a>


            </div>
            <ul class="navbar-nav" *ngIf="location !== '/restaurant/menu'">
                <li class="nav-item">
                    <a class="nav-link d-flex align-items-center" routerLink="/restaurant/menu"><i class="pi pi-shopping-cart"></i>&nbsp;Menu Order</a>
                </li>

            </ul>

        </div>
        <!-- Collapsible wrapper -->
    </div>
    <!-- Container wrapper -->
</nav>
<!-- Navbar -->