.navbar-dark .nav-item .nav-link {
    color: #fff;
}

.navbar-dark .nav-item .nav-link:hover {
    background-color: rgba(52, 57, 203, 0.1);
    transition: all 0.3s ease;
    border-radius: 0.25rem;
    color: #fff;
}