<p-card header="{{recipe!.title}}" subheader="Card Subheader" [style]="{width: '360px'}" styleClass="p-card-shadow mt-2 mb-2">
    <ng-template pTemplate="header">
        <img alt="Card" src="{{recipe!.image}}">
    </ng-template>
    <p><strong>Price:</strong> ${{recipe!.pricePerServing}}</p>
    <ng-template pTemplate="footer">
        <p-button label="Agregar al menú" class="mr-3" icon="pi pi-check" (click)="addtoMenu()"></p-button>
        <button [routerLink]="['recipe', recipe!.id]" pButton pRipple type="button" icon="pi pi-search" class="p-button-rounded p-button-success"></button>
    </ng-template>
</p-card>