<p-card header="{{recipe!.title}}" subheader="{{recipe!.title}}" [style]="{width: '360px'}" styleClass="p-card-shadow mt-2 mb-2">

    <ng-template pTemplate="header">
        <img alt="Card" src="{{recipe!.image}}">
    </ng-template>

    <ng-template pTemplate="body">
        <p><strong>Vegetarian:</strong> {{recipe!.vegetarian | vegetarian}}</p>
        <p><strong>Ready In: </strong>{{recipe!.readyInMinutes}} minutes</p>
        <p><strong>Price:</strong> ${{recipe!.pricePerServing}}</p>
    </ng-template>

    <ng-template pTemplate="footer">
        <button pButton label="Add to Order" class="mr-3" icon="pi pi-check" iconPos="right" (click)="addtoMenu()"></button>
        <button [routerLink]="['recipe', recipe!.id]" style="float: right;" pButton pRipple type="button" icon="pi pi-eye" class="ml-3 p-button-rounded p-button-success"></button>
    </ng-template>
</p-card>